#root {
  display:grid;
  min-height:100vh;
  @media screen AND (min-width:900px){ 
    grid-template: 
    "header" auto
    "chats" 1fr
    /1fr ;
  }
  @media screen AND (min-width:900px){ 
    grid-template: 
    "header header messages" auto
    "chats  chat   messages" 1fr
    /300px  1fr    300px;
  }
}

#root > header {
  grid-area: header;
}

#root > section {
  grid-area:messages
}

#root > aside {
  grid-area:chats
}